.DS_Store
node_modules
vue-dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.nyc_output
upload/
*.t7
generative_inpainting
segmentation
siggraph2017_inpainting
inpainting_result
experiment_data
inpainting_upload
partial-conv
mask
paper_site
py/data
rect_mask
py/__*__
